*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*----------------Body-------------------*/
body {
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
}
.container {
    max-width: 1062px;
    padding: 0 15px;
    margin: auto;
}

.header {
    min-height: 80px;
    background-color: #FFFFFF;
}
.main {
    flex: 1 1 auto;
    background-color: #FFFFFF;
}


/*----------------Header-------------------*/
.header__menu {
    display: flex;
    justify-content: flex-end;
    padding: 27px 0 0 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}
.header__list {
    display: flex;
    column-gap: 33px;
    
}   
.header__item {
    position: relative;
}

.header__item:hover {
    color: rgba(50, 65, 56, 0.5);
}
.header__item:active {
    top: 1px;
}
.hambuger, 
.close-hamburger {
    display: none;
}

/*----------------Portfolio-------------------*/
.portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 150px 88px 35px;
    color: #21243D;
}
.portfolio__content {
    max-width: 506px;
}
.portfolio__image {
    position: relative;
    z-index: 1;
}
.image {
    position: relative;
    z-index: 1;
}
.portfolio__image::after {
    content: "";
    position: absolute;
    width: 243px;
    height: 243px;
    right: 5px;
    top: 13px;
    border-radius: 50%;
    background-color: #EDF7FA;
    z-index: 0;
}
.portfolio__title {
    margin: 0 0 40px 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.portfolio__text {
    margin: 0 0 38px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.portfolio__button {
    position: relative;
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: #FF6464;
}

.portfolio__button:hover {
    background-color: #f37a82;
}
.portfolio__button:active {
    top: 1px;
}

/*----------------Reviews-------------------*/
.reviews {
    background-color: #EDF7FA;
}
.reviews-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 88px 20px;
}
.reviews-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 88px 32px;
}
.reviews-info {
    max-width: 418px;   
    padding: 24px 21px 28px 23px;
    background-color:#FFFFFF; 
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}
.resent__posts {
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
}
.view-posts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}


.reviews-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin: 0 0 28px 0;
}
.reviews-comment {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    margin: 0 0 20px 0;
}
.resent__data {
    display: flex;

}
.reviews-data {
    position: relative;
    padding: 0 30px 0 0;
}
.reviews-data::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 21px;
    border: 1px solid #000000;
}
.reviews-respond {
    padding: 0 0 0 27px;
}
.reviews-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;

}

/*----------------featured-------------------*/
.featured-title {
    display: flex;
    margin: auto;
    max-width: 858px;
    padding: 33px 0 15px;
}
.revievs-data {
    margin: 20px 0 22px;
}
.featured-works {
    padding: 0 88px 83px;
    background-color: #FFFFFF;
}
.featured-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dashboards {
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 30px 0 15px 0;
}

.dashboards-bottom {
    width: 83.1%;
    border: 1px solid #E0E0E0;
    margin: 0 auto;
}
.dashboard-image {
    height: 100%;
    padding: 0 18px 0 0;
}
.dashboards-row {
    max-width: 594px;
    margin: 0 0 17px 0;
}

.dashboards-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}
.dashboards-data {
    display: flex;
    align-items: center;
    column-gap: 26px;
    font-weight: 400;
    font-size: 20px;
    color: #8695A4;
    margin: 28px 0 28px;
}
.dashboards-data li:first-child {

}

.dashboard-year {
    background-color: #142850;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    padding: 2px  10px;
}

.dashboard-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

/*--------------footer----------------*/

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.media-list {
    display: flex;
    column-gap: 35px;
    padding: 51px 0 26px;
}
.footer-copyright {
    padding: 0 0 54px 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #21243D;
}
#menu-toggle {
    display: none;
}
.menu-btn {
    display: none;
}

/*------------media----------------------*/

@media (max-width: 998.99px ) {
    .header__menu {
        display: flex;
        justify-content: flex-end;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        width: 30px;
        height: 20px;
        cursor: pointer;
}
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: flex;
        position: absolute;
        width: inherit;
        height: 2px;
        background-color: #21243D;
        transition-duration: .25s;
        z-index: 10;
        }
        .menu-btn  span::before {
        content: '';
        top: -8px;
        }
        .menu-btn > span::after {
        content: '';
        top: 8px;
        }

    .header__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 55px;
        font-size: 44px;
        position: fixed;
        visibility: hidden;
        
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        z-index: 2;
      }
      #menu-toggle {
        opacity: 0;
      }
      #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg);
      }
      #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu-toggle:checked ~ .header__list {
        visibility: visible;
        left: 0;
    }
    .reviews-columns {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }   
}

@media (max-width: 767.98px) {

    .header {
        min-height: 50px
    }
    .header__menu {
        padding: 19px 3px 11px 0;
    }
    .portfolio {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 33px 0px 59px;
    }
    .portfolio__image {
        order: 1;
        margin: 0 0 34px 0;
    }
    .image {
        height: 180px;
        width: 174.38px;
    }
    .portfolio__image::after {
        content: "";
        position: absolute;
        width: 180px;
        height: 174.38px;
        right: 3.52px;
        top: 9.14px;
        border-radius: 50%;
        background-color: #EDF7FA;
        z-index: 0;
    }
    .portfolio__content {
         order: 2;
    }
    .portfolio__button {
        order: 3;
    }
    .portfolio__title {
        max-width: 312px;
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        margin: 0px 0px 21px 0px;

    }
    .portfolio__text {
        max-width: 328px;
        margin: 0 0 27px 0;
    }
    .view-posts {
        display: none;
    }
    .reviews-row {
        justify-content: center;
    }
    .reviews-columns {
        gap: 17px;
        padding: 0;
    }
    .resent__posts {
        font-size: 18px;
    }
    .reviews-title {
        font-size: 22px;
        line-height: 30px;
        margin: 0 0 12px 0;
    }
    .dashboards-data {
        font-size: 16px;
        line-height: 24px;
    }
    .reviews-info {
        padding: 12px 8px 22px 19px;
    }
    .dashboards-data {
        margin: 12px 0 12px;
    }
    .featured-works {
        padding: 0;
    }
    .featured-title {
        display: block;
        text-align: center;
    }
    .featured-column {
        flex-direction: column;
        align-items: center;
    }
    .dashboards {
        max-width: 344px;
        flex-direction: column;
        align-items: flex-start;
    }
    .dashboards img {
        width: 339px;
        height: 230px;
        padding: 0;
    }
    .featured-column div:nth-child(n+3) {
        display: none;
    }
    .dashboards {
        padding: 0;
    }
    .dashboards-row h2 {
        margin: 17px 0 16px;
    }
    .dashboards-row p {
        margin: 25px 0 17px;
    }
    .media-list {
        padding: 150px 0 26px;
    }

}






